-unread ||= nil
%div.translate-parent{id: "comment-container-#{comment.id}"}
  %a{class: "comment-anchor", id: "comment-#{comment.id}"}
  .content-container{class: unread}
    .activity-item-avatar.medium-user-avatar
      = render 'linked_avatar', user: comment.user
    .activity-item-body
      .activity-item-text-container
        .activity-item-comment-actor
          =link_to comment.user_name, user_path(comment.user), class: "user-name"

          .comment-actions
            - if can? :destroy, comment
              = link_to comment_path(comment), method: :delete, data: { confirm: t(:confirm_delete_comment) }, id: "delete-comment-#{comment.id}" do
                .delete-icon.js-tooltip{title: t(:delete_comment)}
                  %i.fa.fa-times
            - if can? :edit, comment
              = link_to [:edit, comment] do
                .edit-icon.edit-icon-small.edit-comment.js-tooltip{title: t(:'edit_comment.edit_comment')}
                  %i.fa.fa-pencil
        .activity-item-header{dir: text_direction(comment)}
          ~ add_mention_links(render_rich_text(comment.body.to_s.force_encoding("UTF-8"), comment.uses_markdown?)).html_safe
          .translation-spacer.translated
          .activity-item-translation.translated
            = t(:loading_translation)
      -if comment.attachments_count > 0
        -comment.attachments.each do |a|
          .comment-attachment
            = image_tag 'paperclip22.png', class: 'paperclip'
            =link_to a.truncated_filename(38), a.location, { target: 'blank' }
            -file_size_text = (a.filesize >= 1048576) ? (a.filesize/1048576.0).round(1).to_s + ' MB' : (a.filesize/1024.0).round.to_s + ' kB';
            ="("+file_size_text+")"

            -if a.is_an_image? && a.filesize < 1048576
              =link_to image_tag(a.location), a.location, { target: 'blank', class: 'attachment-image' }

      .comment-time-and-likes
        =render 'comments/comment_likes', comment: comment
