#user-profile
  .row
    .col-md-3
      = render 'avatar', user: @user, size: "large", id: 'avatar-preview'
    .col-md-8
      %h1= @user.name
      %p.username
        @#{@user.username}

      %p.email
        #{@user.email}

      - groups = @user.groups.visible_to_public.order('full_name ASC')
      - groups += [@user.groups & current_user.groups]
      - if groups.present?
        %h3#user-groups-list= t(:"common.groups")
        %ul
          - groups.flatten.uniq.sort{|a,b| a.full_name <=> b.full_name}.each do |group|
            %li
              = link_to group.full_name, group_path(group)
