//= depend_on 'dot-18.png'
//= depend_on 'discussion-18.png'
//= depend_on 'topic-18.png'
//= depend_on 'hand-abstain-18.png'
//= depend_on 'hand-block-18.png'
//= depend_on 'hand-no-18.png'
//= depend_on 'questionmark-18.png'
//= depend_on 'hand-yes-18.png'
//= depend_on 'pie-18.png'
//= depend_on 'discussion-24.png'
//= depend_on 'discussion-light-24.png'
//= depend_on 'pie-24.png'
//= depend_on "pie-light-24.png"
//= depend_on 'topic-24.png'
//= depend_on 'paperclip20.png'
//= depend_on 'sort-by-alphabet.jpg'
//= depend_on 'sort-by-alphabet-desc.jpg'

.button-icon{
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  padding: 0px 5px 0px 0;
  vertical-align: text-bottom;
  width: 18px;
  &.dot-icon {
    background-image: image-url('dot-18.png');
    float: right;
  }
  &:hover { color: $dark-grey; }
}

.activity-icon{
  background-repeat: no-repeat;
  background-position: 2px 1px;
  float: left;
  display: block;
  height: 36px;
  /*margin-right: 0.4em;*/
  width: 36px;
  &.discussion-icon { background-image: image-url('discussion-18.png'); }
  &.loomio-icon { background-image: image-url('topic-18.png'); }
  &.position-abstain-icon { background-image: image-url('hand-abstain-36.png'); background-color: #f0bb67;}
  &.position-block-icon { background-image: image-url('hand-block-36.png');background-color: #dd0000; }
  &.position-no-icon { background-image: image-url('hand-no-36.png'); background-color: #d49090;}
  &.position-unvoted-icon { background-image: image-url('questionmark-36.png'); }
  &.position-yes-icon { background-image: image-url('hand-yes-36.png'); background-color: #016B01;}
  &.proposal-icon { background-image: image-url('pie-18.png'); }

}

.large-icon{
  background-repeat: no-repeat;
  float: left;
  height: 24px;
  margin: 6px 13px 0 13px;
  width: 24px;
  &.discussion-icon.enabled-icon  { background-image: image-url('discussion-24.png'); }
  &.discussion-icon.disabled-icon  { background-image: image-url('discussion-light-24.png'); }
  &.decision-icon {
    background-image: image-url('pie-24.png');
    @media (min-width: 768px) { margin-left: 0; }
  }
  &.pie-icon {
    background-image: image-url("pie-light-24.png");
    height: 26px;
    width: 30px;
  }
  &.topic-icon { background-image: image-url('topic-24.png'); }
}

.header-bar-icon{
  bottom: 2px;
  position: relative;
}

.attachment-icon {
  background-image: image-url('paperclip20.png');
  background-repeat: no-repeat;
  height: 22px;
  margin: 0;
  opacity: .7;
  width: 22px;
  &:hover { opacity: 1; }
}

.sort-by-alphabet-icon {
  background-image: image-url('sort-by-alphabet.jpg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 16px;
}

.sort-by-alphabet-icon-desc {
  background-image: image-url('sort-by-alphabet-desc.jpg');
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 16px;
}
