.motion-graph {

  .pie {
    height: 350px;
    width: 350px;
    float: left;
    margin: 1em;
  }

  .legend {
    font-size: .85em;
    float: left;
    padding-top: 5em;
    color: $mid-grey;

    .item {
      text-transform:capitalize;
      line-height: 1;
      padding-left: .5em;
      margin-bottom: .5em;
    }

    .yes { border-left: 1em solid #90D490 }
    .no { border-left: 1em solid #D49090   }
    .abstain { border-left: 1em solid #F0BB67}
    .block { border-left: 1em solid #dd0000 }
  }
}

.motion-preview {
  a {
    display: block;
    &:hover { text-decoration: none; }
  }

  .activity-count {
    float: right;
    height: 14px;
    font-size: $font-tinywiny;
    z-index: 2;
    position: relative;
    left: 40px;
  }

  .pie {
    z-index: 1;
  }

  .proposal-close-date {
    font-size: $font-small;
  }

  .proposal-group-name {
    font-size: $font-small;
    position: relative;
    left: 4px;
  }

  .proposal-outcome { font-size: $font-small; }

  .proposal-title {
    font-size: $font-medium;
    color: $dark-grey;
  }

  .proposal-title-container {
    color: $mid-grey;
  }

  &:hover { background-color: $selector; }
}


/*** _motion partial (discussion page) ***/

#content-proposal{
  margin-left: 0px;
  padding: 10px 30px 10px 14px;

  #add-outcome-submit { margin: 5px 0 1em 0; }
  .closing-info {
    font-size: $font-smaller;
    color: $mid-grey; }

  #close-voting {
    float: right;
    margin: 5px 0 0 0;
  }

  .description {
    p { color: $dark-grey; }
  }

  .control-group { padding-top: 0px; padding-bottom: 0px; }

  .label {
    text-transform: lowercase;
    font-weight: normal;
  }

  .label-important{
    background: #b94a48;
  }

  .motion-graph {
    width: 100%;
  }

  .motion-admin-buttons {
    margin-left: 0;
    width: 125px;

    .btn {
      float: right;
      margin: 5px 0 0 0;
      width: 108px;
    }
  }

  .new-proposal-btn {
    float: left;
    margin: 8px 8px 0 0;
  }

  .new_vote { padding-left: 0px; }

  #outcome-statement {
    color: $dark-grey;

    .button_to { margin: 0px; }

    .control-group { margin-bottom: 0px; }
    textarea { height: 4em; }

    .character-counter {
      bottom: 0px;
      width: 250px;
      float: right;
      margin-bottom: 0px;
    }

    .no-outcome { font-style: italic; }

    .outcome-edit-button {
      margin: 0px;
      float: right;
      display: inline;
      position: relative;
      top: 0px;
      right: 0px;
    }

    .outcome-label {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 7px;
    }

    .statement-display {
      padding: 5px;
      background-color: $lighter-grey;
      font-size: 1em;
    }
  }

  .proposed-by {
    color: $mid-grey;
    font-size: $font-smaller;
    margin-bottom: 20px;
  }

  .percentage-to-vote {
    font-size: $font-small;
    margin-bottom: 10px;
  }

  .validate-length { margin-left: 0px; height: 65px; }

  .vote-buttons {
    a:hover{background-color: $light-grey;}
    a.vote-yes:hover{background-color: #016B01}
    a.vote-abstain:hover{background-color: #f0bb67}
    a.vote-no:hover{background-color: #d49090}
    a.vote-block:hover{background-color: #dd0000}

    .btn {
      border-radius: 5px;
      border: 1px solid $light-grey;
      float: left;
      margin: 10px 5px 15px 0;
      padding: 3px;
      width: 50px;
      height:50px;
      img {
        height:40px;
        width:40px;
        margin: auto;
        display:inline-block;
      }
    }

    .popover-title { font-size: 1.2em; font-weight: 700; }
  }

  #vote-statement {
    .character-counter { width: 528px; }

    .statement { width: 520px; }
  }

  .votes-table {
    padding-bottom: 10px;

    .btn {
      float: right;
      font-size: $font-tiny;
      margin-left: 4px;
      width: 20px;
      padding: 2px 5px;
    }

    .position-row {
      padding-bottom: 3px;
      padding-top: 2px;
    }

    .statement {
      color: $text-black;
      display: inline;
      font-size: $font-tiny;
      float: left;
    }

    .user-name {
      font-weight: bold;
      margin-right: 8px;
    }

    .translate-link {
      line-height: 15px;
    }

  }

  .toggle-yet-to-vote{
    color: $mid-grey;
    font-size: $font-tiny;
  }
}

table.jqplot-table-legend {
  border: none;
  width: auto;
  td {
    border: none;
    line-height: 16px;
    padding: 0 5px;
  }
}

#motion-form{
  .timezone{
    margin-top: -0.8em;
    font-size: 0.9em;
    text-align: right;
  }
}

body.new_proposal .datetimepicker{
  margin-top: 50px;
}
