%footer.footer
  .col-sm-6
    - unless current_user
      %select#select-locale
        = options_for_select linked_language_options, selected_language_option
    Loomio - Gängeviertel Version
  //  = link_to t(:translate, default: "help translate Loomio!"), 'https://www.loomio.org/d/hB1Oijwv/overview-of-the-translation-process-for-translators'

  .col-sm-6.footer-links
    = render "footer_links", target: 'blank'
