//= link_to t('footer.public_groups'), explore_path, target: target
//= link_to t('footer.blog'), blog_path, target: target
//= link_to t('footer.contact'), contact_path, target: target
//= link_to t('footer.about'), about_path, target: target
//= link_to t('footer.terms'), terms_of_service_path, target: target
//= link_to t('footer.privacy'), privacy_path, target: target
